.login_wrap {
	display: flex;
	margin: 0 auto;
	padding: 0 20px;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;

	.logo_area {
		padding: 20px 0;
	}

	.btn_type {
		max-width: 500px;
		width: 100%;
		line-height: 50px;
		background-color: #25AAF5;
		color: #fff;
		border-radius: 4px;
		font-size: 20px;

		& ~ .btn_type {
			margin-top: 10px;
		}
	}
}

.login_main_wrap {
	margin: 0 auto;
	padding: 60px 32px;
	max-width: 776px;

	.title {
		text-align: center;

		.logo_admin {
			margin-left: 10px;
		}
	}

	.description {
		margin: 13px 0 62px;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
	}

	.form {
		& ~ .form {
			margin-top: 20px;
		}

		label {
			display: inline-block;
			vertical-align: top;
		}
		input {
			display: block;
			width: 100%;
			height: 40px;
			padding: 0 12px;
			margin-top: 8px;
			border: 1px solid #ddd;
			border-radius: 1px;
			box-sizing: border-box;
		}
	}

	.btn_login {
		margin-top: 20px;
		width: 100%;
		height: 44px;
		background-color: $color-main;
		color: #fff;
	}
}