.schedule_wrap {
	.tab_area {

	}

	.tab {
		position: relative;
		margin-top: -20px;
		text-align: center;
		font-size: 18px;
		line-height: 48px;

		.menu_area {
			display: inline-block;
			margin-left: 8px;
		}

		.btn_menu {
			vertical-align: 1px;

			&.open ~ .ly_menu {
				display: block;
			}
		}

		.ly_menu {
			display: none;
			position: absolute;
			left: 50%;
			top: 100%;
			z-index: 10;
			width: 200px;
			margin-top: -10px;
			padding: 10px 0;
			border-radius: 5px;
			transform: translateX(-50%);
			background: #fff;
			text-align: left;
			box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);

			.menu {
				display: block;
				padding: 0 15px;
				line-height: 40px;
				font-size: 14px;

				&:hover {
					background-color: #fafafa;
				}

				&.active {
					font-weight: 700;
				}
			}
		}
	}

	.list_area {
		padding: 16px;
		border: 1px solid #E1E1E1;
		background-color: #FAFAFA;
	}

	.person_list {
		@include clearfix;
		margin-top: -14px;

		.item {
			float: left;
			width: 33.33%;
			margin-top: 14px;
			line-height: 20px;
		}

		.input_check {
			@include blind;

			&:checked ~ .input_label {
				//background-color: red;

				&::before {
					background: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.26667L4.19796 7.58307C4.40981 7.80277 4.76735 7.78306 4.95377 7.5414L10 1' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E%0A") no-repeat center;
					background-color: currentColor;
				}
			}
		}

		.input_label {
			color: #5784FC;

			.text {
				display: inline-block;
				color: #333;
			}

			&::before {
				content: '';
				display: inline-block;
				width: 16px;
				height: 16px;
				margin-right: 8px;
				border: 2px solid currentColor;
				border-radius: 2px;
				vertical-align: -5px;
			}
		}
	}

	.modal {
		.day_list {
			color: #666;

			.item {
				display: flex;
				height: 52px;
				align-items: center;
				font-size: 16px;

				& ~ .item {
					margin-top: 4px;
				}
			}

			.text {
				padding-right: 16px;
			}

			.btn_manage {
				height: 38px;
				margin-left: auto;
				padding: 0 14px;
				color: #25AAF5;
				border: 1px solid currentColor;
				border-radius: 2px;
			}
		}
	}
}

.calender_wrap {
	position: relative;
	margin-top: 24px;

	.btn_add {
		position: absolute;
		top: 30px;
		right: 0;
		color: #666;
		height: 28px;
		padding: 0 14px;
		border: 1px solid #d9d9d9;
		font-size: 12px;
		border-radius: 2px;

		svg {
			margin-right: 6px;
			vertical-align: -4px;
		}
	}
}

.calendar-container {
	.task_calendar {
		width: 100%;
		border: 0;

		abbr {
			text-decoration: none;
		}

		.react-calendar__navigation__label {
			font-size: 20px;
			font-weight: 700;
		}

		.react-calendar__viewContainer {
			margin-right: -6px;
		}

		.react-calendar__month-view__weekdays__weekday {
			margin: 0 -1px -1px 0;
			border: 1px solid #e1e1e1;
			padding: 0;
			height: 36px;
			line-height: 36px;

			abbr {
				font-size: 12px;
				font-weight: 400;
				color: #666;
			}
		}

		[class*='--now'] { // 오늘
			background-color: #E9F7FE;

			&:hover,
			&:focus,
			&.active {
				background-color: #D3EEFD !important;
			}
		}

		[class*='--active'] { // 활성화
			background-color: #EDEFFA;

			&:hover,
			&:focus,
			&.active {
				background-color: #EDEFFA;
			}
		}

		.task_calender_tile {
			position: relative;
			margin: 0 -1px -1px 0;
			padding: 20px 6px 6px;
			border: 1px solid #e1e1e1;
			height: 105px;
			color: #666 !important;

			&:hover {
				background-color: #EDEFFA;
			}

			abbr {
				position: absolute;
				top: 6px;
				left: 6px;
				font-weight: 400;
				font-size: 12px;
				line-height: 14px;
				color: #666;
			}

			.task_area {
				display: block;
				overflow-y: auto;
				height: 100%;
				//@include scrollHide;
			}

			.task {
				display: block;
				font-size: 10px;
				line-height: 16px;
				text-align: left;

				&::before {
					content: '';
					display: inline-block;
					width: 10px;
					height: 10px;
					margin-right: 4px;
					border-radius: 50%;
					background-color: #5784FC;
					vertical-align: -2px;
				}
			}
		}
	}
}

.mbsc-calendar {
	max-height: 500px;
}

.modal {
	.schedule_add_area {
		.plus_area {
			margin: 0 -16px 20px;
			padding: 12px 0 12px 16px;
			background: #F5F5F5;

			@include clearfix;
		}

		.btn_plus {
			float: left;
			width: 70px;
			height: 70px;
			margin-right: 8px;
			background: #fff;
			border: 1px solid #E1E1E1;
			border-radius: 2px;
		}

		.plus_list {
			overflow-x: auto;
			white-space: nowrap;
			color: #666;

			.item {
				position: relative;
				display: inline-block;
				width: 157px;
				height: 70px;
				margin-right: 8px;
				padding: 9px;
				font-size: 11px;
				line-height: 12px;
				vertical-align: top;
				background-color: #fff;
				border: 1px solid #E1E1E1;
				box-sizing: border-box;
				cursor: pointer;

				&.selected {
					border-color: #25AAF5;
				}

				.name {
					font-weight: 700;
					color: #333;

					& + .text {
						margin-top: 10px;
					}
				}

				.text {
					margin-top: 5px;
				}

				.btn_delete {
					position: absolute;
					top: 8px;
					right: 8px;
					line-height: 0;

					&:hover {
						path {
							fill: #25AAF5;
						}
					}
				}

				.btn_copy {
					position: absolute;
					top: 8px;
					right: 26px;
					line-height: 0;

					&:hover {
						rect:not(:first-child) {
							stroke: #25AAF5;
						}

						path {
							stroke: #25AAF5;
						}
					}
				}
			}
		}

		.plus_input_area {
			display: flex;

			& ~ .plus_input_area {
				margin-top: 20px;
			}

			label {
				padding-right: 37px;
				line-height: 36px;
			}
			.input {
				flex: 1 1 auto;
				padding: 10px;
				border: 1px solid #D9D9D9;
				border-radius: 2px;
				box-sizing: border-box;
			}

			select {
				@include apperanceNone;
			}
			input {
				height: 36px;
			}
			textarea {
				resize: none;
			}

			.dash {
				padding: 0 10px;
				font-size: 0;
				line-height: 36px;

				&::before {
					content: '';
					width: 14px;
					height: 1px;
					background-color: #333;
					display: inline-block;
				}
			}
		}

		.btn_add {
			margin-top: 16px;
			width: 100%;
			height: 36px;
			border-radius: 2px;
			border: 1px solid #25AAF5;
			color: #25AAF5;
		}
	}
}